<footer class="container">
  <p class="float-end"><a href="#">Back to top</a></p>
  <p>
    <a href="https://2223.iuxd.nl/">IUXD 22-23</a> ·
    <a href="https://2223.iuxd.nl/teams/">IUXD 22-23 Teams</a>
  </p>
</footer>
<script  src="https://www.instagram.com/embed.js"></script>