---
meta:
  lang: en
  title: IUXD 22-23 Workshops
  image: "/assets/images/open-graph/teaser.jpeg"
  description: Overzicht van de workshops die de vierdejaars studenten van de minor Interface & User Experience Design.
layout: base
eleventyNavigation:
  key: Home
---

<!--
<div class=" p-3  mb-4 bg-light rounded-3">
  <div class="container-fluid py-2 ">
    <h1 class="display-3 fw-bold">Workshops minor studenten<br/> Interface & User Experience Design</h1>
    <p class="col-md-10 fs-5 mb-0 pt-2">
      Het afgelopen semester hebben vierdejaars studenten van de minor <em>Interface & User Experience Design</em>, tijdens het vak <em>Becoming a Digital Designer</em>, een onderwerp onderzocht binnen het vakgebied, waar zij meer over wilde leren als ontwerper. De kennis en vaardigheden die ze hebben opgedaan tijdens dit onderzoek hebben verwerkt in een Image Swiper. Daarnaast hadden ze nog een andere vorm waarin ze die kennis en vaardigheden hebben uitgedragen, dat kan bijvoorbeeld een podcast zijn, een website of een artikel. 
Ook zullen zij een workshop verzorgen voor de tweedejaars studenten van CMD. De workshops zullen ongeveer een uur duren en zijn in middag van 20 december. Kijk naar wat jij interessant zou vinden en meld je aan voor de workshops via de aanmelder!
    </p>
    <p class="col-md-10 fs-5 mb-0 pt-2">
      <strong>- Coaches Becoming a Digital Designer</strong>
    </p>

    <div class="row pt-3">
      {% for coach in coaches %}
        <div style="width:130px" class="pb-5">
          <div class="rounded-circle" style="height:90px; width:90px; background:red; background-size:cover; background-position:center center; background-image:url('assets/coaches/{{ coach.photo }}.jpg');">

          </div>

          <span style="background:white; transform:translateY(-30px); position: absolute; padding:0.2em; font-weight:600">{{ coach.name }}</span>
          <span style="background:white; transform:translateY(-8px); position: absolute; padding:0.2em; ">{{ coach.lastname }}</span>
        </div>
      {% endfor %}
    </div>

    <a class="btn btn-primary btn-lg mt-2" href="https://www.aanmelder.nl/139885">
     
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="currentColor"
        class="bi bi-github"
        viewBox="0 0 24 24"
      >
      
      <path d="m11.25 6c.398 0 .75.352.75.75 0 .414-.336.75-.75.75-1.505 0-7.75 0-7.75 0v12h17v-8.75c0-.414.336-.75.75-.75s.75.336.75.75v9.25c0 .621-.522 1-1 1h-18c-.48 0-1-.379-1-1v-13c0-.481.38-1 1-1zm-2.011 6.526c-1.045 3.003-1.238 3.45-1.238 3.84 0 .441.385.626.627.626.272 0 1.108-.301 3.829-1.249zm.888-.889 3.22 3.22 8.408-8.4c.163-.163.245-.377.245-.592 0-.213-.082-.427-.245-.591-.58-.578-1.458-1.457-2.039-2.036-.163-.163-.377-.245-.591-.245-.213 0-.428.082-.592.245z" fill-rule="nonzero"/>
    
    </svg>

    Meld je aan via de aanmelder

    </a>
    
  </div>
</div>
-->


<div class="row align-items-md-stretch">

  {% for team in teams %}

    <div class="flex-col col-md-6 mt-5">
      <div class="h-100 p-3 text-dark bg-light rounded-3">
        <div class="d-flex justify-content-between">
          <h2 class="fs-5 ">{{ team.name }}</h2>
          
        </div>
        <span style="height:8px; width:33%; display: block; background-color: #{{ team.color }}"></span>
        {% if team.students %}
          <div class="row align-items-center pt-3 ">
          {% for student in team.students %}
            <div style="width:130px" class="pb-5">
              <div class="rounded-circle" style="height:90px; width:90px; background:lightgrey; background-size:cover; background-position:center center; background-image:url('assets/profiles/FC_DSC-{{ student.photo }}.jpg');">

              </div>

                <span style="background:white; transform:translateY(-30px); position: absolute; padding:0.2em; font-weight:600">{{ student.name }}</span>
                <span style="background:white; transform:translateY(-8px); position: absolute; padding:0.2em; ">{{ student.lastname }}</span>
              </div>
            {% endfor %}
          </div>
          {% endif %}

        <h6>Client: {{ team.client }}</h6>
        <h3 class="display-6 fs-6">{{team.brief}}</h3>
        

        {% if team.link %}
            
            <!--<a class="btn btn-primary btn-lg mt-2" style="background-color: #{{ team.color }}; border:none" href="{{ team.link | url }}" rel=”noopener noreferrer” target=”_blank”>-->
              <a href="{{team.link}}" class="btn btn-outline-dark mt-3 w-100">
              {% if team.format == 'website' %}
                  
                <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="currentColor"
                class="bi bi-github"
                viewBox="0 0 24 22"
                class="t-1"
              >
              
                <path d="m21 4c0-.478-.379-1-1-1h-16c-.62 0-1 .519-1 1v16c0 .621.52 1 1 1h16c.478 0 1-.379 1-1zm-1.5 5.505v9.995h-15v-9.995zm0-1.5h-15v-3.505h15zm-2.3-2.527c.442 0 .8.359.8.8 0 .442-.358.8-.8.8s-.8-.358-.8-.8c0-.441.358-.8.8-.8zm-1.65.777c0-.397-.352-.75-.75-.75-1.695 0-6.355 0-8.05 0-.399 0-.75.353-.75.75s.351.75.75.75h8.05c.398 0 .75-.353.75-.75z" fill-rule="nonzero"/>
              
              </svg>

                Bezoek onze one-pager!  

              {% endif %}
            </a>
            
        {% endif %}

        <!-- 
        {% if team.embed %}
          {{ team.embed | safe  }}
        {% endif %}
        --> 
        
      
      </div>
    </div>

    
    
  {% endfor %}

 

</div>

<div class="row align-items-md-stretch">

  {% for student in students %}
    <div class="flex-col col-6  col-md-2 mt-5">
      <div class="h-100 p-3 text-dark bg-light rounded-3">
        <div class="row align-items-center pt-1">
          {% if student.theme == 'Social Business' %}
            <span class="ms-2 mb-4" style="height:8px; width:50%; display: block; background-color: #f0b82a"></span>
          {% endif %}
          {% if student.theme == 'New Reality Perspectives' %}
            <span class="ms-2 mb-4" style="height:8px; width:50%; display: block; background-color: #ef4c30"></span>
          {% endif %}
          {% if student.theme == 'Smart City' %}
            <span class="ms-2 mb-4" style="height:8px; width:50%; display: block; background-color: #30b0e5"></span>
          {% endif %}
          {% if student.theme == 'Work, Culture & Play' %}
            <span class="ms-2 mb-4" style="height:8px; width:50%; display: block; background-color: #f68428"></span>
          {% endif %}
          {% if student.theme == 'Human +' %}
            <span class="ms-2 mb-4" style="height:8px; width:50%; display: block; background-color: #9256a3"></span>
          {% endif %}
          {% if student.theme == 'Rebooting Nature' %}
            <span class="ms-2 mb-4" style="height:8px; width:50%; display: block; background-color: #a6ce3d"></span>
          {% endif %}

          <div style="width:130px" class="pb-5">
           

            <div class="rounded-circle pt-3" style="height:90px; width:90px; background:lightgrey; background-size:cover; background-position:center center; background-image:url('assets/profiles-di/{{ student.photo }}.jpg');">

            </div>

              <span style="background:white; transform:translateY(-30px); position: absolute; padding:0.2em; font-weight:600">{{ student.name }}</span>
              <span style="background:white; transform:translateY(-8px); position: absolute; padding:0.2em; ">{{ student.lastname }}</span>
          </div>
            
            
        </div>
        <a href="" class="btn btn-outline-dark w-100" data-bs-toggle="modal" data-bs-target="#{{ student.lastname | replace(" ", "_") |  replace("'", "") | lower}}">  
          View Innovation!  
        </a>
      </div>
    </div>


    <!-- Modal -->
    <div class="modal modal-xl fade" id="{{ student.lastname | replace(" ", "_") | replace("'", "") | lower}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          {% if student.theme == 'Social Business' %}
          <div class="modal-header" style="background-color: #f0b82a">
          {% endif %}
          {% if student.theme == 'New Reality Perspectives' %}
          <div class="modal-header" style="background-color: #ef4c30">
          {% endif %}
          {% if student.theme == 'Smart City' %}
          <div class="modal-header" style="background-color: #30b0e5">
          {% endif %}
          {% if student.theme == 'Work, Culture & Play' %}
          <div class="modal-header" style="background-color: #f68428">
          {% endif %}
          {% if student.theme == 'Human +' %}
          <div class="modal-header" style="background-color: #9256a3">
          {% endif %}
          {% if student.theme == 'Rebooting Nature' %}
          <div class="modal-header" style="background-color: #a6ce3d">
          {% endif %}
          
            <h2 class="modal-title fs-5 text-light" id="exampleModalLabel">Designful Innovation - 
              {% if student.theme == 'Social Business' %}
              Social Business
              {% endif %}
              {% if student.theme == 'New Reality Perspectives' %}
              New Reality Perspectives
              {% endif %}
              {% if student.theme == 'Smart City' %}
              Smart City
              {% endif %}
              {% if student.theme == 'Work, Culture & Play' %}
              Work, Culture & Play
              {% endif %}
              {% if student.theme == 'Human +' %}
              Human +
              {% endif %}
              {% if student.theme == 'Rebooting Nature' %}
              Rebooting Nature
              {% endif %}
            </h2>
            <button type="button" class="btn-close btn-light" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body p-4 p-md-5" style="background: #F8F5EE">

            <div class="d-flex justify-content-between flex-column flex-md-row">
              <div class="pb-5 pe-3">
                <div class="rounded-circle" style="height:250px; width:250px; background:lightgrey; background-size:cover; background-position:center center; background-image:url('assets/profiles-di/{{ student.photo }}.jpg');"></div>
                  <h1>
                    <span style="background:white; transform:translateY(-1.975em); position: absolute; padding:0.2em; font-weight:600">{{ student.name }}</span>
                    <span style="background:white; transform:translateY(-0.495em); position: absolute; padding:0.2em; ">{{ student.lastname }}</span>
                  </h1>
                  <span style="height:8px; width:33%; display: block; background-color: #{{ team.color }}"></span>
              </div>
              <!--<h2 class="display-4 fs-3 ps-5 pb-5 pt-1 align-self-center">-->
              <h2 class="display-4 fs-3 col-12 col-md-8 pb-md-5 pt-1 align-self-center">
                {{ student.hmw }}
              </h2>
               
            </div>

              <p class="mt-4 lead">
                {{ student.text | escape | nl2br}}
              </p>
              <img class="w-100 mt-4" src="assets/booklet-di/{{ student.name | replace(" ", "-") | lower}}.jpg" />
             
          </div>
          {% if student.theme == 'Social Business' %}
          <div class="modal-footer" style="background-color: #f0b82a">
          {% endif %}
          {% if student.theme == 'New Reality Perspectives' %}
          <div class="modal-footer" style="background-color: #ef4c30">
          {% endif %}
          {% if student.theme == 'Smart City' %}
          <div class="modal-footer" style="background-color: #30b0e5">
          {% endif %}
          {% if student.theme == 'Work, Culture & Play' %}
          <div class="modal-footer" style="background-color: #f68428">
          {% endif %}
          {% if student.theme == 'Human +' %}
          <div class="modal-footer" style="background-color: #9256a3">
          {% endif %}
          {% if student.theme == 'Rebooting Nature' %}
          <div class="modal-footer" style="background-color: #a6ce3d">
          {% endif %}
            <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

  {% endfor %}
  

</div>



<div class="row">
  <div class="col-12 py-5 text-center">
    Theme based on <a href="https://github.com/mandrasch/11ty-plain-bootstrap5/" target="_blank">11ty-plain-bootstrap5</a>.
  </div>
</div>

<!-- for debug: {{ site | dump }} {{page | dump }} {{meta | dump}}-->
